<%= render 'layouts/navigation' %>
<section class="text-gray-600 body-font relative mt-14">
  <div class="shadow sm:rounded-md sm:overflow-hidden md:w-3/4 xl:w-1/2 w-full mx-auto bg-white pt-10">
    <h1 class="subpixel-antialiased font-semibold text-simanejo text-2xl mb-10 px-14">
      Agregar instructor
    </h1>
      <%= render 'form' %>
    </div>
  <div class="md:w-3/4 xl:w-1/2 w-full mx-auto my-7 text-left">
    <%= link_to(instructors_path, class: "text-indigo-600 font-semibold text-lg hover:text-blue-900 inline") do %>
    <span aria-hidden="true">&larr; </span>
    Regresar a listado de <span class="font-bold">instructores</span>
    <% end %>
  </div>
</section>